.nav-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding: 0px;
}

.btn-portfolio {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: none;

  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  text-align: center;

  transition: color var(--transition-dur-and-func),
    box-shadow 250ms var(--transition-dur-and-func),
    background-color 250ms var(--transition-dur-and-func);

  &:hover,
  &:focus {
    box-shadow: 0 2px 2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 8%),
      0 3px 1px rgb(0 0 0 / 10%);
    color: var(--secondary-color-background);
    background-color: var(--accent-color);
  }
}

.activ {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;

  color: var(--secondary-color-background);
  background-color: var(--accent-color);
}
