.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  @media screen and (max-width: 767px) {
    .page-footer {
      text-align: center;
    }
  }

  & .page-logo {
    display: inline-block;
    
  }
}

.footer-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    justify-content: space-between;
  }
}
.footer-box__contact {
  text-align: center;
  margin-bottom: 60px;
  
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
  
  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.adress {
  font-style: normal;
  padding: 0;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__text {
  color: var(--secondary-color-background);
  line-height: 1.71;
}

.adress__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.network {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    text-align: start;
    margin-bottom: 0;
    margin-right: 93px;
  }
}

.network-title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-color-background);
}

.network-list {
  display: flex;
  justify-content: center;
}

.network__item {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-dur-and-func);

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.network__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color-background);

  .network__link:hover &,
  .network__link:focus & {
    fill: var(--secondary-color-background);
  }
}

.footer-form {
  width: 100%;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
   display: flex;
   width: 570px;
  }
}


.footer-form__title {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--secondary-color-background);
}

.footer-form__email {
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding: 15px 15px;
  
    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 358px;
    }
  
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: border var(--transition-dur-and-func);
  
    &:focus {
      border: 1px solid var(--accent-color);
    }
}


.footer-form__submit {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 0px transparent solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 29px;
  transition: background-color var(--transition-dur-and-func);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-submit__text {
  color: var(--secondary-color-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--secondary-color-background);
  margin-left: 10px;
}