.page-footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #2f303a;
   text-align: center;
 }

 @media screen and (min-width: 1200px) {
   .page-footer {
     text-align: left;
   }
 }

 @media screen and (min-width: 768px) {
   .footer-box {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 60px;
     column-gap: 165px;
   }
 }

 @media screen and (min-width: 1200px) {
   .footer-box {
     flex-wrap: nowrap;
     justify-content: start;
     gap: 0;
     column-gap: 0;
   }
 }

 .page-footer .page-logo {
   margin-right: 0px;
   display: block;
   margin-bottom: 20px;
 }

 @media screen and (min-width: 1200px) {
   .footer__box {
     display: flex;
     align-items: baseline;
   }
 }

 @media screen and (min-width: 768px) {
   .footer__box {
     gap: 60px;
     padding-left: 0px;
   }
 }

 .adress__item:not(:last-child) {
   margin-bottom: 9px;
 }

 .adress__text {
   color: var(--secondary-color-background);
   line-height: 1.71;
 }

 .adress__link {
   color: rgba(255, 255, 255, 0.6);
   transition: color var(--transition-dur-and-func);
 }

 .adress__link:hover,
 .adress__link:focus {
   color: var(--accent-color);
 }

 .network {
   margin-top: 60px;
   display: block;
   margin-bottom: 60px;
 }

 @media screen and (min-width: 768px) {
   .network {
     margin-top: 0;
   }
 }

 @media screen and (min-width: 1200px) {
   .network {
     margin-left: 70px;
   }
 }

 .network-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.15;
   margin-bottom: 20px;
   text-transform: uppercase;
   color: var(--secondary-color-background);
 }

 .network__icon {
   width: 20px;
   height: 20px;
   fill: var(--secondary-color-background);
 }

 .network__link:hover .network__icon,
 .network__link:focus .network__icon {
   fill: var(--secondary-color-background);
 }

 .network-list {
   display: flex;
   justify-content: center;
   column-gap: 10px;
 }

 .network__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   transition: background-color var(--transition-dur-and-func);
 }

 .network__link:hover,
 .network__link:focus {
   background-color: var(--accent-color);
 }

 @media screen and (min-width: 1200px) {
   .footer-form {
     margin-left: auto;
   }

   .footer-form__email {
     display: flex;
   }
 }

 .footer-form__title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   margin-bottom: 20px;
   text-transform: uppercase;
   color: var(--secondary-color-background);
 }

 .footer-box__contact {
   display: flex;
 }

 .footer-form__submit {
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 200px;
   height: 50px;
   margin: 0 auto;
   margin-top: 20px;
   color: var(--secondary-color-background);
   background-color: var(--accent-color);
   border-radius: 4px;
   border: 0px transparent solid;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   padding: 10px 29px;
   transition: background-color var(--transition-dur-and-func);
 }

 .footer-form__submit:hover {
   cursor: pointer;
 }

 .footer-form__submit:hover,
 .footer-form__submit:focus {
   background-color: var(--accent-color);
 }

 @media screen and (min-width: 1200px) {
   .footer-form__submit {
     margin-top: 0;
     margin-left: 12px;
   }
 }

 .footer-submit__text {
   color: var(--secondary-color-background);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   margin-right: 10px;
 }

 .footer-form__input {
   width: 70%;
   height: 50px;
   outline: none;
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   padding-left: 16px;
   background-color: transparent;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25;
   color: var(--secondary-color-background);
   transition: border var(--transition-dur-and-func);
 }

 .footer-form__input:focus {
   border: 1px solid var(--accent-color);
 }

 @media screen and (min-width: 768px) {
   .footer-form__input {
     width: 450px;
   }
 }

 @media screen and (min-width: 1200px) {
   .footer-form__input {
     width: 358px;
   }
 }

 .footer-form__icon {
   width: 24px;
   height: 24px;
   fill: var(--secondary-color-background);
   margin-left: 10px;
 }