.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
