:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-color-background: #f5f5f5;
  --secondary-color-background: #ffffff;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
